/* ======BASE STYLES======*/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
    color: #929090;
    margin-left: 2em;
    margin-right: 2em;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

h2 {
    color: #525252;
    font-size: 1em;
    font-family: 'Ubuntu', serif;
    
}

h3 {
    color: #525252;
    font-size: 1.1em;
    
}

/* ======BASE LAYOUT STYLES======*/

.main-header,
.bio,
.contact,
.main-footer,
.title-portfolio {
    text-align: center;
}

.title {
    font-weight: bolder;
    color: #525252;
}

.portfolio-img {
    width: 200px;
}

.title-portfolio {
    margin-bottom: 4em;
}

.navigation {
    line-height: 3.5em;
    margin-bottom: 3em;
    font-weight: bold;
    text-transform: uppercase;
    color: #525252;
}


/* ======LAYOUT CONTAINERS====== */

.container {
    text-align: center;
}

.container-img {
    width: 300px;
}

.contact {
    margin-top: 6em;
}

.main-footer {
    border-top: 1px solid #e7e7e7;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    font-weight: bold;
    color: #525252;
    
  
}

.main-footer-name {
   float: left;
}

.main-footer-top {
    float: right;
    
}


/* ======Pseudo-classes====== */

a:link {
    color: rgb(189, 145, 64);
  }

  /* visited link */
a:visited {
    color: rgb(100, 204, 169);
  }

/* ======CLEARFIX====== */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


